.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: 口#666777;
    font-weight: 500;
}

.nav-link:hover,
.nav-link,
.active {
    color: 口#000;
}
