{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.totalShares }}</td>
                    <td>{{ usd(stock.price) }}</td>
                    <td>{{ usd(stock.totalShares * stock.price) }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="2"></td>
                    <td><strong> CASH </strong></td>
                    <td><strong> {{ usd(cash) }} </strong></td>
                </tr>
        </tbody>
        <tfoot>
            <td colspan="2"></td>
            <td><strong> TOTAL </strong></td>
            <td><strong> {{ usd(total) }} </strong></td>
        </tfoot>
    </table>
{% endblock %}
