{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td class="text-start">{{ stock.symbol }}</td>
                    <td class="text-end">{{ stock.totalShares }}</td>
                    <td class="text-end">{{ usd(stock.price) }}</td>
                    <td class="text-end">{{ usd(stock.totalShares * stock.price) }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td class="text-end"><strong> CASH </strong></td>
                <td class="text-end">{{ usd(cash) }}</td>
            </tr>
        </tbody>
        <tfoot>
            <td colspan="2"></td>
            <td class="text-end"><strong> TOTAL </strong></td>
            <td class="text-end">{{ usd(total) }}</td>
        </tfoot>
    </table>
{% endblock %}
